Repository aws-ia/terraform-aws-control_tower_account_factory: changes, and which GitLab CI jobs are due for each by the changed paths.
All: validate, validate-python, security-scan, test-examples, docs

validate:
  stage: validate
  script:
  - terraform fmt -check=true -diff=true
  - terraform validate

validate-python:
  stage: validate
  image: python:3.11-slim
  before_script:
  - pip install flake8 black
  script:
  - black --check src/ || echo "Python formatting check completed"
  - flake8 src/ || echo "Python linting check completed"

security-scan:
  stage: security
  image: aquasec/tfsec:latest
  script:
  - tfsec . --format json --out tfsec-report.json || true
  artifacts:
    paths:
    - tfsec-report.json
    expire_in: 1 week

test-examples:
  stage: test
  script:
  - "echo \"Testing AFT examples...\"\nfor example in examples/*/; do\n  if [ -f \"$example/main.tf\" ]; then\n    echo \"Validating $example\"\n    cd \"$example\"\n    terraform init\n    terraform validate\n    cd \"$TF_ROOT\"\n  fi\ndone\n"

docs:
  stage: test
  image: quay.io/terraform-docs/terraform-docs:latest
  script:
  - terraform-docs markdown table --output-file README-generated.md .
  artifacts:
    paths:
    - README-generated.md
    expire_in: 1 week

Release: 1.15.1
  VERSION
  modules/aft-account-request-framework/ddb.tf
  modules/aft-account-request-framework/kms.tf
Due: validate, security-scan, test-examples, docs

add support for multiple account customizations
  CHANGELOG.md
  modules/aft-customizations/buildspecs/aft-account-customizations-terraform.yml
Due: none

add step to migrate state file from single-customization to multi-customization
  modules/aft-customizations/buildspecs/aft-account-customizations-terraform.yml
Due: none

feat: tofu instead of terraform, Ability to run, multiple customisations per account, cleanup unused code around workspaces/tfe/cloud, Default vpcs are deleted from accounts
  CODEOWNERS
  main.tf
  modules/aft-account-provisioning-framework/versions.tf
  modules/aft-account-request-framework/versions.tf
  modules/aft-backend/versions.tf
  modules/aft-code-repositories/buildspecs/ct-aft-account-provisioning-customizations.yml
  modules/aft-code-repositories/buildspecs/ct-aft-account-request.yml
  modules/aft-code-repositories/versions.tf
  modules/aft-customizations/buildspecs/aft-account-customizations-terraform.yml
  modules/aft-customizations/buildspecs/aft-create-pipeline.yml
  modules/aft-customizations/buildspecs/aft-global-customizations-terraform.yml
  modules/aft-customizations/versions.tf
  modules/aft-feature-options/versions.tf
  modules/aft-iam-roles/admin-role/main.tf
  modules/aft-iam-roles/service-role/main.tf
  modules/aft-iam-roles/versions.tf
  modules/aft-lambda-layer/versions.tf
  modules/aft-ssm-parameters/ssm.tf
  modules/aft-ssm-parameters/variables.tf
  modules/aft-ssm-parameters/versions.tf
  outputs.tf
  sources/aft-customizations-common/templates/customizations_pipeline/versions.tf
  sources/aft-customizations-repos/aft-account-provisioning-customizations/README.md
  sources/aft-customizations-repos/aft-account-request/README.md
  sources/aft-customizations-repos/aft-account-request/examples/account-request.tf
  sources/aft-customizations-repos/aft-account-request/terraform/modules/aft-account-request/ddb.tf
  sources/aft-customizations-repos/aft-account-request/terraform/modules/aft-account-request/variables.tf
  src/aft_lambda/aft_feature_options/aft_delete_default_vpc.py
  variables.tf
  versions.tf
Due: validate, validate-python, security-scan, test-examples, docs

Release: 1.16.0
  PYTHON_VERSION
  README.md
  VERSION
  main.tf
  modules/aft-code-repositories/buildspecs/ct-aft-account-provisioning-customizations.yml
  modules/aft-code-repositories/buildspecs/ct-aft-account-request.yml
  modules/aft-customizations/buildspecs/aft-account-customizations-terraform.yml
  modules/aft-customizations/buildspecs/aft-create-pipeline.yml
  modules/aft-customizations/buildspecs/aft-global-customizations-terraform.yml
  modules/aft-customizations/iam.tf
  modules/aft-customizations/iam/role-policies/aft_identify_targets_lambda.tpl
  modules/aft-customizations/iam/role-policies/aft_states_invoke_customizations_policy.tpl
  modules/aft-customizations/s3.tf
  modules/aft-customizations/states/invoke_customizations.asl.json
  modules/aft-customizations/variables.tf
  modules/aft-lambda-layer/buildspecs/aft-lambda-layer.yml
  modules/aft-lambda-layer/readme.md
  modules/aft-ssm-parameters/ssm.tf
  modules/aft-ssm-parameters/variables.tf
  sources/aft-lambda-layer/aft_common/constants.py
  sources/aft-lambda-layer/aft_common/customizations.py
  sources/aft-lambda-layer/aft_common/s3.py
  sources/aft-lambda-layer/aft_common/schemas/identify_targets_request_schema.json
  sources/aft-lambda-layer/poetry.lock
  sources/aft-lambda-layer/pyproject.toml
  src/aft_lambda/aft_customizations/aft_customizations_identify_targets.py
  variables.tf
Due: validate, validate-python, security-scan, test-examples, docs

Release: 1.16.1
  CODEOWNERS
  VERSION
  modules/aft-lambda-layer/buildspecs/aft-lambda-layer.yml
  sources/aft-lambda-layer/pyproject.toml
Due: none

Release: 1.17.0
  VERSION
  modules/aft-lambda-layer/buildspecs/aft-lambda-layer.yml
  sources/aft-lambda-layer/aft_common/metrics.py
Due: validate-python

Release: 1.17.1
  VERSION
  sources/aft-lambda-layer/poetry.lock
  sources/aft-lambda-layer/pyproject.toml
Due: none

Release: 1.18.0
  README.md
  VERSION
  examples/azuredevops+tf_cloud/main.tf
  modules/aft-account-provisioning-framework/iam.tf
  modules/aft-account-provisioning-framework/states.tf
  modules/aft-account-provisioning-framework/versions.tf
  modules/aft-account-request-framework/iam.tf
  modules/aft-account-request-framework/kms.tf
  modules/aft-account-request-framework/locals.tf
  modules/aft-account-request-framework/versions.tf
  modules/aft-account-request-framework/vpc.tf
  modules/aft-backend/versions.tf
  modules/aft-code-repositories/codepipeline.tf
  modules/aft-code-repositories/codestar.tf
  modules/aft-code-repositories/iam.tf
  modules/aft-code-repositories/locals.tf
  modules/aft-code-repositories/versions.tf
  modules/aft-customizations/buildspecs/aft-account-customizations-terraform.yml
  modules/aft-customizations/buildspecs/aft-global-customizations-terraform.yml
  modules/aft-customizations/iam.tf
  modules/aft-customizations/versions.tf
  modules/aft-feature-options/iam.tf
  modules/aft-feature-options/s3.tf
  modules/aft-feature-options/versions.tf
  modules/aft-iam-roles/admin-role/main.tf
  modules/aft-iam-roles/service-role/main.tf
  modules/aft-iam-roles/versions.tf
  modules/aft-lambda-layer/versions.tf
  modules/aft-ssm-parameters/versions.tf
  sources/aft-customizations-common/templates/customizations_pipeline/versions.tf
  sources/aft-customizations-repos/aft-account-provisioning-customizations/terraform/versions.tf
  sources/aft-customizations-repos/aft-account-request/terraform/modules/aft-account-request/versions.tf
  sources/aft-lambda-layer/poetry.lock
  variables.tf
  versions.tf
Due: validate, security-scan, test-examples, docs

make account request processing rate configurable
  README.md
  main.tf
  modules/aft-account-request-framework/eventbridge.tf
  modules/aft-account-request-framework/variables.tf
  variables.tf
Due: validate, security-scan, test-examples, docs

feat: Add custom buildspec support for AFT customizations
  .kiro/specs/custom-buildspec-support/design.md
  .kiro/specs/custom-buildspec-support/requirements.md
  .kiro/specs/custom-buildspec-support/tasks.md
  main.tf
  modules/aft-account-request-framework/ddb.tf
  modules/aft-customizations/codebuild.tf
  modules/aft-customizations/variables.tf
  sources/aft-customizations-repos/aft-account-customizations/buildspec.yml.example
  sources/aft-customizations-repos/aft-global-customizations/buildspec.yml.example
  todo.md
  variables.tf
Due: validate, security-scan, test-examples, docs

remove todo
  todo.md
Due: none

Remove kiro specs
  .kiro/specs/custom-buildspec-support/design.md
  .kiro/specs/custom-buildspec-support/requirements.md
  .kiro/specs/custom-buildspec-support/tasks.md
Due: none

revert key schema
  modules/aft-account-request-framework/ddb.tf
Due: validate, security-scan, test-examples, docs

delete example files
  sources/aft-customizations-repos/aft-account-customizations/buildspec.yml.example
  sources/aft-customizations-repos/aft-global-customizations/buildspec.yml.example
Due: none

feat: Add external repository references for account customizations
  README.md
  modules/aft-customizations/buildspecs/aft-account-customizations-terraform.yml
Due: none

Release: 1.18.1
  VERSION
  sources/aft-lambda-layer/poetry.lock
  sources/aft-lambda-layer/pyproject.toml
Due: none

chore(ci): add security scanning compliance for GitHub Team downgrade
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .secrets.baseline
  sonar-project.properties
Due: none

fix: Explicitly define IAM permission dependencies before Lambda invocation
  modules/aft-lambda-layer/lambda.tf
Due: validate, security-scan, test-examples, docs

Remove suspended accounts from targets
  src/aft_lambda/aft_customizations/aft_customizations_identify_targets.py
Due: validate-python

feat: add apply-with-approval workflow type with terraform plan gate
  main.tf
  modules/aft-code-repositories/buildspecs/ct-aft-account-provisioning-customizations.yml
  modules/aft-code-repositories/buildspecs/ct-aft-account-request.yml
  modules/aft-code-repositories/codebuild.tf
  modules/aft-code-repositories/codepipeline.tf
  modules/aft-code-repositories/variables.tf
  modules/aft-customizations/buildspecs/aft-global-customizations-terraform.yml
  modules/aft-customizations/codebuild.tf
  modules/aft-customizations/variables.tf
  modules/aft-ssm-parameters/ssm.tf
  modules/aft-ssm-parameters/variables.tf
  sources/aft-customizations-common/templates/customizations_pipeline/codepipeline.tf
  sources/aft-customizations-common/templates/customizations_pipeline/data.tf
  sources/aft-customizations-common/templates/customizations_pipeline/variables.tf
  variables.tf
Due: validate, security-scan, test-examples, docs

Release: 1.20.1
  VERSION
  modules/aft-backend/main.tf
  modules/aft-customizations/s3.tf
  modules/aft-feature-options/kms/key-policies/log-key.tpl
  modules/aft-feature-options/s3.tf
  sources/aft-lambda-layer/aft_common/aft_utils.py
  sources/aft-lambda-layer/aft_common/feature_options.py
  sources/aft-lambda-layer/poetry.lock
  sources/aft-lambda-layer/pyproject.toml
  src/aft_lambda/aft_feature_options/aft_delete_default_vpc.py
  src/aft_lambda/aft_feature_options/aft_enable_cloudtrail.py
Due: validate, validate-python, security-scan, test-examples, docs

Block public sharing of SSM documents in AFT management account
  README.md
  main.tf
  modules/aft-account-request-framework/ssm.tf
  modules/aft-account-request-framework/variables.tf
  variables.tf
Due: validate, security-scan, test-examples, docs

Apply SSM block public sharing across Control Tower governed regions
  README.md
  locals.tf
  main.tf
  modules/aft-account-request-framework/ssm.tf
  modules/aft-account-request-framework/variables.tf
  modules/aft-account-request-framework/versions.tf
  variables.tf
Due: validate, security-scan, test-examples, docs

fix: exclude broken aws provider release 6.57.0
  modules/aft-account-provisioning-framework/versions.tf
  modules/aft-account-request-framework/versions.tf
  modules/aft-backend/versions.tf
  modules/aft-code-repositories/versions.tf
  modules/aft-customizations/versions.tf
  modules/aft-feature-options/versions.tf
  modules/aft-iam-roles/versions.tf
  modules/aft-lambda-layer/versions.tf
  modules/aft-ssm-parameters/versions.tf
  sources/aft-customizations-common/templates/customizations_pipeline/versions.tf
  sources/aft-customizations-repos/aft-account-provisioning-customizations/terraform/versions.tf
  sources/aft-customizations-repos/aft-account-request/terraform/modules/aft-account-request/versions.tf
  versions.tf
Due: validate, security-scan, test-examples, docs

feat: add OpenTofu as a supported terraform_distribution
  README.md
  examples/multiple-account-customizations/account-customization-dev/terraform/backend.jinja
  examples/multiple-account-customizations/account-customization-prod/terraform/backend.jinja
  examples/multiple-regions-customization/multiple-regions/terraform/backend.jinja
  modules/aft-code-repositories/buildspecs/ct-aft-account-provisioning-customizations.yml
  modules/aft-code-repositories/buildspecs/ct-aft-account-request.yml
  modules/aft-code-repositories/iam.tf
  modules/aft-customizations/buildspecs/aft-account-customizations-terraform.yml
  modules/aft-customizations/buildspecs/aft-create-pipeline.yml
  modules/aft-customizations/buildspecs/aft-global-customizations-terraform.yml
  modules/aft-customizations/iam.tf
  sources/aft-customizations-repos/aft-account-customizations/ACCOUNT_TEMPLATE/terraform/backend.jinja
  sources/aft-customizations-repos/aft-account-provisioning-customizations/terraform/backend.jinja
  sources/aft-customizations-repos/aft-account-request/terraform/backend.jinja
  sources/aft-customizations-repos/aft-global-customizations/terraform/backend.jinja
  tests/__init__.py
  tests/test_opentofu_support.py
  variables.tf
Due: validate, validate-python, security-scan, test-examples, docs

feat(codebuild): add host_kernel selection for AFT CodeBuild projects
  main.tf
  modules/aft-code-repositories/codebuild.tf
  modules/aft-code-repositories/variables.tf
  modules/aft-customizations/codebuild.tf
  modules/aft-customizations/variables.tf
  modules/aft-lambda-layer/codebuild.tf
  modules/aft-lambda-layer/variables.tf
  variables.tf
  versions.tf
Due: validate, security-scan, test-examples, docs

Release: 1.22.0
  .gitignore
  README.md
  VERSION
  main.tf
  modules/aft-archives/main.tf
  modules/aft-backend/main.tf
  modules/aft-customizations/buildspecs/aft-account-customizations-terraform.yml
  modules/aft-customizations/buildspecs/aft-global-customizations-terraform.yml
  modules/aft-customizations/iam.tf
  modules/aft-customizations/iam/role-policies/aft_codebuild_customizations_policy.tpl
  modules/aft-customizations/outputs.tf
  modules/aft-customizations/s3.tf
  modules/aft-customizations/s3/bucket-policies/aft_plan_output_bucket.tpl
  modules/aft-customizations/variables.tf
  modules/aft-ssm-parameters/ssm.tf
  modules/aft-ssm-parameters/variables.tf
  sources/aft-customizations-common/templates/customizations_pipeline/codepipeline.tf
  sources/aft-lambda-layer/aft_common/aft_types.py
  sources/aft-lambda-layer/aft_common/codepipeline.py
  sources/aft-lambda-layer/aft_common/constants.py
  sources/scripts/terraform_client.py
  sources/scripts/workspace_manager.py
  src/aft_lambda/aft_customizations/aft_customizations_execute_pipeline.py
  variables.tf
Due: validate, validate-python, security-scan, test-examples, docs

Path conditions:
  validate: any of: *.tf, **/*.tf
  validate-python: any of: src/**/*.py, **/*.py
  security-scan: any of: *.tf, **/*.tf
  test-examples: any of: examples/**/*, *.tf, **/*.tf
  docs: any of: *.tf, **/*.tf
